/* 
    Created on : 11 de fev de 2019, 20:21:36
    Author     : Mateus
*/
@charset "UTF-8";

body{
    background-color: #eAeAeA;
}

/* Estilos da div interface */
div#interface{
    width: 800px;
    background-color: white;
    padding: 10px 5px 5px 15px;
    margin: -20px auto 0px auto; /* centralizando a interface deixando como auto a margm da esquerda e da direita */
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}  

p{
    text-align: justify;
    text-indent: 50px;
}

/* Formatação do menu */

nav#menu{
    display: block;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 316px;
}

nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 5px;
    margin: 1px;
    transition: background-color 1s;
}

nav#menu li:hover{
    background-color: #808080;
}

nav#menu h1{
    display: none;
}

nav#menu a{
    color: black;
    text-decoration: none;
}

nav#menu a:hover{
    color: whitesmoke;
}

/* formatação do header */

header#cabecalho {
    height: 150px;
    border-bottom: 1px #808080 outset;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 100px;
}

header#cabecalho h1{
    font-family: Arial, sans-serif;
    font-size: 30pt;
    color: #808080;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2{
    font-family: Arial, sans-serif;
    font-size: 30pt;
    color: #888888;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    padding: 0px;
    margin-top: 0px;
}

header#cabecalho img#img_oculos_pequeno{
    position: absolute;
    top: 90px;
    left: 720px;
    transform: rotate(350deg);
}

/* Formatação de imagens com legendas */
figure.foto_legenda{
    position: relative; /* indica que os filhos dessa classe terão layout relativo a ela */
    border: 2px solid gray; /* borda de 2pixels cinza */
    box-shadow: 1px 1px 4px black; /* Sombra ao redor da imagem */
}

figure.foto_legenda img{
    width: 100%; /* imagem com largura e altura 100% em relação a borda */
    height: 100%;
}

figure.foto_legenda figcaption{
    position: absolute; /* posicionamento absoluto em relação ao pai */
    top: 0px; /* coloca a legenda no topo */
    background-color: rgba(0, 0, 0, .4);/* fundo translucido ao redor da legenda */
    color: white; /* letras brancas */
    width: 100%; /* 100% relativo ao pai (do msm tamnho da imagem) */
    height: 100%;
    padding: 10px; /* um tipo de "borda" forçada */
    box-sizing: border-box; /* força o padding a respeitar os limites de tamanho do pai */
    opacity: 0; /* torna todo esse objeto invisivel (ver proxima formatação) */
    transition: opacity 1s; /* efeito de transição que ocorre quando o atibuto opacidade for alterado, com duração de 1 segundo */
}

figure.foto_legenda:hover figcaption{
    /* formatação que ocorre apenas quando passa o mouse por cima do objeto figcaption */
    opacity: 1; /* toda o objeto 100% visivel */
}
