/* 
    Created on : 13/02/2019, 17:19:19
    Author     : mateus.michels
*/
@charset "UTF-8";

iframe {
    border: none;
}

iframe#frame_spec {
    width: 420px;
    height: 280px;
    overflow: hidden;
}

section#conteudo {
    width: 1000px;
    margin: auto;
}
